header{
    background-color: #19241F;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 2em;
}
body{
    background-color: #E6E2D8;
    color: #fff;
    font-family: 'space mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
footer{
    background-color: #19241F;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 2em;
}
h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h2{
    color: #19241F;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.perfil{
    display: flex;
    text-align: center;
}
.devs{
    color: #19241F;
    height: auto;
    width: 15%;
    border-radius: 50%
}
.botao{
    font-family: 'space mono', monospace;
    background-color: #19241F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid #EE8A6F;
}
.cards{
    display: flex;
    align-content: center;
    grid-gap: 10px;
    margin: 10;
    padding: 10;
}
.cards2{
    display: flex;
    align-content: center;
    grid-gap: 10px;
    margin: 10;
    padding: 10;
}
.organic_laranja{
    display: grid;
    background-color: #EE8A6F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10;
    padding: 5em;
    border-radius: 10px;
    border: 2px solid #EE8A6F;
}
.organic_roxo{
    background-color: #D387F4;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10;
    padding: 5em;
    border-radius: 10px;
    border: 2px solid #D387F4;
}
.titulo-logo{
    color: #fff;
    font-size: 4em;
    font-weight: 400;
    margin-left: 0.5em;
    padding: 0;
}
.subtitulo-logo{
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin-left: 1em;
    padding: 0;
}