@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf')
}


header{
    background-color: #19241F;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 1.5em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E6E2D8;
    color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.titulo-logo{
    text-align: center;
    font-size: 5em;
    color: #fff;;
    font-family: 'SpaceMono';
    margin: 0;
    padding: 0;
}

.subtitulo-logo{
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-family: 'SpaceMono';
    margin: 0;
    margin-top: 0.2em;
    padding: 0;
}

.cards{
    display: flex;
    align-content: center;
    grid-gap: 10px;
    margin: 10;
    padding: 10;
}

.cards2{
    display: flex;
    align-content: center;
    grid-gap: 10px;
    margin: 10;
    padding: 10;   
}
.cards3{
    display: flex;
    align-content: center;
    grid-gap: 10px;
    margin: 10;
    padding: 10;   
}

.organic_laranja{
    display: grid;
    background-color: #EE8A6F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0em;
    padding: 4em;
    border-radius: 50px;
    border: 5px solid #EE8A6F;

}
.organic_laranja2{
    display: grid;
    background-color: #EE8A6F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0em;
    padding: 4em;
    border-radius: 50px;
    border: 5px solid #EE8A6F;
    flex-grow: 1;

}
.organic_roxo{  
    background-color: #D387F4;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0em;
    padding: 5em;
    border-radius: 50px;
    border: 5px solid #D387F4;
    flex-grow: 1;
}

.botao{
    background-color: #19241F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'SpaceMono';
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 15px;
    border: 0em solid #19241F;
}

.botao:hover{
    background-color: #D387F4;
    border: 0em solid #D387F4;
}

footer{
    background-color: #19241F;
    font-size: 2em;
    color: #fff;
    font-family: 'SpaceMono';
    margin: 0;
    padding: 1.5em;
}

h1{
    line-height: 1;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'SpaceMono';
    margin: 0;
    padding: 0;
}

h2{
    color: #19241F;
    font-size: 1em;
    font-weight: 700;
    font-family: 'SpaceMono';
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.perfis{
    display: flex;
    text-align: center;
    gap: 1em;
    margin-top: 1em;

}

.devs{
    color: #19241F;
    height: auto;
    width: 8em;
    border-radius: 50%
}
.video{
    margin-top: 1rem;
}