body{
    background-color: #E6E2D8;
    color: #fff;
    font-family: 'space mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
footer{
    background-color: #19241F;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h2{
    color: #19241F;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
p {
    color: #EE8A6F;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.devs{
    color: #19241F;
    height: auto;
    width: 15%;
    border-radius: 50%
}
.botao{
    background-color: #EE8A6F;
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    margin: 10;
    padding: 10;
    border-radius: 10px;
    border: 2px solid #EE8A6F;
}
.botao:hover {
    background-color: #D387F4;
    border: 2px solid #D387F4;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-gap: 10px;
    margin: 10;
    padding: 10;
}
.organic_laranja{
    display: grid;
    background-color: #EE8A6F;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10;
    padding: 10;
    border-radius: 10px;
    border: 2px solid #EE8A6F;
}
.organic_roxo{
    background-color: #D387F4;
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10;
    padding: 10;
    border-radius: 10px;
    border: 2px solid #D387F4;
}